<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="nestviewpager.simple.com.delegationdesignpattern">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name="designpattern.MainActivity"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="designpattern.delegation.DelegationActivityActivity"
                android:exported="false"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name="designpattern.callback.CallBackActivity"
                android:exported="false"
                android:screenOrientation="portrait">
        </activity>
        <activity android:name="designpattern.builder.BuilderActivity">
        </activity>
        <activity android:name="designpattern.lazyload.LazyLodingActivity">
        </activity>
        <activity android:name="designpattern.singleton.SingletonActivity">
        </activity>
        <activity android:name="designpattern.twin.TwinPatternActivity">
        </activity>
        <activity android:name="designpattern.nullable.NullAbleActivity">
        </activity>
        <activity android:name="designpattern.proxy.ProxyActivity">
        </activity>
        <activity android:name="designpattern.observer.ObserverActivity">
        </activity>
        <activity android:name="designpattern.state.StateActivity">
        </activity>
    </application>

</manifest>